body {
    background-color: #1a1a2e;
    color: #09f;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadeIn 1s;
    position: relative; /* Para el efecto de fondo */
    overflow: hidden; /* Para evitar el scroll */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    text-align: center;
    padding: 20px;
    position: relative; /* Para que el fondo no cubra el contenido */
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

#countdown {
    color: #fff
}

.header {
    position: absolute;
    top: 20px; /* Espacio desde la parte superior */
    left: 20px; /* Espacio desde la izquierda */
    display: flex; /* Para alinear el botón y el control de volumen horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    z-index: 2; /* Asegura que el encabezado esté por encima del fondo */
}

.header #playPauseBtn {
    background-color: #09f;
    margin-left: -460px;
    margin-top: -160px;
    border: none;
    color: white;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.header #volumeControl {
    background-color: #09f;
    margin-top: -160px;
    border: none;
    color: white;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}


.header button:hover {
    background-color: #0077cc;
    transform: scale(1.05);
}

.countdown button {
    background-color: #09f;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.countdown button:hover {
    background-color: #0077cc;
    transform: scale(1.05);
}

input[type="range"] {
    margin-left: 10px;
}

.logo img {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

#countdown {
    font-size: 1.5em;
    margin: 20px 0;
}

input::placeholder {
    color: #fff;
}

input[type="password"] {
    border: 2px solid #09f;
    transition: 0.3s, transform 0.2s;
    border-radius: 10px;
    padding: 12px 15px;
    width: 200px;
    font-size: 1em;
    margin-bottom: 10px;
    background-color: transparent;
    color: #fff;
    margin-right: 10px;
}

input[type="password"]:hover {
    border: 2px solid #fff;
    transform: scale(1.05);
}

#submitPasswordBtn {
    background-color: transparent;
    border: 2px solid #09f;
    color: #fff;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px; /* Aumentar el espacio entre el campo de contraseña y el botón */
}

#submitPasswordBtn:hover {
    background-color: rgba(9, 159, 255, 0.2);
    transform: scale(1.05);
}

/* Efecto de brillo de fondo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(9, 159, 255, 0.2), transparent);
    opacity: 0.5;
    z-index: 0; /* Asegura que el fondo esté detrás del contenido */
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.5;
    }
}